<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Issue List</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" nocolor-bg" data-comp-id="ionic-content.1">
        <div class="card" data-comp-display="card.1" data-comp-id="div.1">
            <div class="item-divider nocolor-bg item" data-comp-id="div.2"
                ng-repeat="item in data.List" style="">
                <div class="row" data-comp-id="row.1"
                    style="border-bottom: 1px solid rgba(74, 129, 148, 0.1);">
                    <div class="col" data-comp-id="column.1"
                        style="border-right: 1px solid rgba(74, 129, 148, 0.298);">
                        <div data-comp-id="text.1" ng-bind="item.Id">Some text</div>
                    </div>
                    <div class="col" data-comp-id="column.2">
                        <div data-comp-id="text.2" ng-bind="item.Name">Some text</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.3" style="">
                        <div data-comp-id="text.3" ng-bind="item.Summary">Some text</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.3" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.5" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed ion-plus-round"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>